body {
    font-size: 125%;
}
section {
    /* position: relative; */
    /* height: 100%; */
    float: left;
    margin: 0px 50px 50px; /* No margin on top, the <h2> tag seems to automatically do this. */
}
.image {
    padding: 5px 5px 5px 5px;
    /* position: relative; */
}
hr {
    width: 90%;
}
