body {
    font-size: 125%;
}
hr {
    width: 90%;
}
.image {
    padding: 1% 1% 1% 1%;
}
.main_header { /*For Header Sizing*/
    width:  100%;
}
.main_content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sub_content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.small_image {
    width: 30%;
}
.medium_image{
    width: 60%;
}
